.card_carrinho {
    height: 100vh;
    width: 40%;
    background: #0F52BA;
    box-shadow: 0 0 5px 1px #000000;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    .box_info-card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 50px;

        h2{
            display: flex;
            align-items: center;
            
        }
    }

    .box_info-card {

        .info-card {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0;

            h2 {
                font: 700 27px 'Montserrat';
                width: 180px;
                height: 56px;
                color: white;
            }
        }

        .btn-cart {

            button {
                background: none;
                border: none;
                font-size: 45px;
                cursor: pointer;
            }
        }

    }

    .container-products {
        height: 70%;
        width: 96%;
        overflow: auto;
        padding-top: 7px;
        margin: 0 auto;


    }

    /* div com informações de valr de compra */
    .box-info-compra {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #0F52BA;

        .info-compra {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 50px;

            h3,
            span {
                font: 700 28px 'Montserrat';
                color: white;
            }
        }

        .btn-compra {
            width: 100%;
            height: auto;
            padding-block: 10px;
            font: 700 28px 'Montserrat';
            text-align: center;
            background: black;
            color: white;
            border: none;
            cursor: pointer;
        }
    }



}


@media(max-width: 388px) {


    .card_carrinho {
        width: 90%;

        .box_info-card{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .box_info-card {
            padding: 10px 20px;
            .info-card {
                h2 {
                    width: auto;
                    font-size: 20px;
                }
            }
            .btn-cart {
                button {
                    font-size: 34px;
                }
            }
        }

        .container-products {
            height: 76%;
            
        }

        /* div com informações de valr de compra */
        .box-info-compra {

            width: 100%;

            .info-compra {
                padding: 5px 10px;

                h3,
                span {
                    font-size: 15px;
                }

            }


            .btn-compra {
                height: 50px;
                font-size: 18px;
            }
        }
    }


}

@media(min-width: 389px) and (max-width: 569px) {


    .card_carrinho {
        width: 90%;

        .box_info-card{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .box_info-card {
            padding: 10px 20px;
            .info-card {
                h2 {
                    width: auto;
                    font-size: 20px;
                }
            }
            .btn-cart {
                button {
                    font-size: 34px;
                }
            }
        }

        .container-products {
            height: 76%;
            
        }

        /* div com informações de valr de compra */
        .box-info-compra {

            width: 100%;

            .info-compra {
                padding: 5px 20px;

                h3,
                span {
                    font-size: 28px;
                }

            }


            .btn-compra {
                height: 50px;
                font-size: 18px;
            }
        }
    }


}


@media(min-width: 569px) and (max-width: 900px) {


    .card_carrinho {
        width: 60%;

        .box_info-card {

            div {
                h2 {
                    font-size: 20px;
                }
            }

            div {
                button {
                    font-size: 30px;
                }
            }
        }

        .container-products {
            height: 76%;
            
        }

        /* div com informações de valr de compra */
        .box-info-compra {

            width: 100%;

            div {

                h3,
                span {
                    font-size: 18px;
                }
            }

            .btn-compra {
                height: 50px;
                font-size: 18px;

            }
        }

    }



}

@media(min-width: 900px) and (max-width: 1180px) {
    .card_carrinho {

        .container-products {
            height: 76%;
            
        }
    }
}