.card_carrinho {
    height: 100vh;
    width: 40%;
    background: #0F52BA;
    box-shadow: 0 0 5px 1px #000000;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    .box_info-card {

        .info-card {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 20px 0;

            h2 {
                font: 700 27px 'Montserrat';
                width: 180px;
                height: 56px;
                color: white;
            }
        }

        .btn-cart {

            button {
                background: none;
                border: none;
                font-size: 45px;
                cursor: pointer;
            }
        }

    }

    .centro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        height: 60%;
        overflow-x: auto;
    }




    /* div com informações de valr de compra */
    .box-info-compra {
        position: absolute;
        bottom: 0;
        width: 100%;

        .info-compra {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 50px;

            h3,
            span {
                font: 700 28px 'Montserrat';
                color: white;
            }
        }

        .btn-compra {
            width: 100%;
            height: 90px;
            font: 700 28px 'Montserrat';
            text-align: center;
            background: black;
            color: white;
            border: none;
            cursor: pointer;
        }
    }
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

@media(max-width: 569px) {
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .card_carrinho {
        width: 90%;

        .box_info-card {

            div {

                h2 {
                    font-size: 20px;
                }
            }

            div {
                button {
                    font-size: 30px;
                }
            }
        }

        /* div com informações de valr de compra */
        .box-info-compra {
            position: absolute;
            bottom: 0;
            width: 100%;

            .info-compra {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3,
                span {
                    font-size: 15px;
                }

            }


            .btn-compra {
                height: 50px;
                font-size: 18px;
            }
        }
    }


}


@media(min-width: 569px) and (max-width: 900px) {
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 50px;
    }

    .card_carrinho {
        width: 60%;

        .box_info-card {

            div {
                h2 {
                    font-size: 20px;
                }
            }

            div {
                button {
                    font-size: 30px;
                }
            }
        }

        

        /* div com informações de valr de compra */
        .box-info-compra {
            position: absolute;
            bottom: 0;
            width: 100%;

            div {

                h3,
                span {
                    font-size: 18px;
                }
            }

            .btn-compra {
                height: 50px;
                font-size: 18px;

            }
        }

    }

    

}
@media(min-width: 900px) and (max-width: 1180px){
    .card_carrinho{

        .centro {

            height: 50%;
 
        }
    }
}