.secao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 60px;

    .container_products {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-flow: row wrap;
        max-width: 90%;

    }
}

@media(max-width: 700px) {
    .secao {

        .container_products {
            max-width: 100%;
        }
    }

}

@media(min-width: 1400px) {

    .secao {

        .container_products {
            max-width: 1200px;
        }
    }

}
