.container-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    gap: 10px;

    .tec,
    .tec1,
    .tec2,
    .tec3,
    .tec4 {

        width: 20px;
        height: 20px;
        background: black;
        border-radius: 50%;
    }
}
.tec { animation: logading 1s linear infinite;}

.tec1 { animation: logading 1.1s linear infinite;}

.tec2 { animation: logading 1.2s linear infinite;}

.tec3 { animation: logading 1.3s linear infinite;}

.tec4 { animation: logading 1.32s linear infinite;}

@keyframes logading {
    0% {
        transform: translateY(0px);
        background: #000000;
    }
    50% {
        transform: translateY(-20px);
        background: #bfbaba;
    }
    100% {
        transform: translateY(0px);
        background: #3f3e3e;
    }
}